@using ProjectPlanner.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context

<div class="wrapper">
    <p class="column-name">@CurrentColumn.Name</p>
    <div class="tickets-container">
        @foreach (var ticket in CurrentTickets)
        {
            <div class="">
                <Ticket CurrentTicket=ticket />
            </div>
        }
    </div>
</div>

<style>
    .wrapper {
        border: solid 1px black;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        max-width: 350px;
    }

    .tickets-container {
        width: 100%;
        padding: 5px;
    }

    .column-name {
        color: black;
        text-align: center;
        font-weight: bold;
        border: solid 1px black;
        width: 100%;
    }
</style>

@code {
    [Parameter]
    public Data.Column? CurrentColumn { get; set; }

    public List<Data.Ticket> CurrentTickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var column = context.Columns
        .Include(c => c.Tickets)
        .FirstOrDefault(c => c.Id == CurrentColumn.Id);
        CurrentTickets = column.Tickets;
    }
}