<div class="wrapper border border-dark">
    <div></div>
</div>

<style>
    .wrapper {
        height: 500px;
        min-width: 300px;
        background-color: gray;
        opacity: 10%;
        overflow-y: auto;
    }
</style>