@using ProjectPlanner.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context

<div class="wrapper border border-dark">
    <p class="column-name">@CurrentColumn.Name</p>
    <div class="tickets-container">
        @foreach (var ticket in CurrentTickets)
        {
            <div class="my-3">
                <Ticket CurrentTicket=ticket />
            </div>
        }
    </div>
</div>

<style>
    .wrapper {
        height: 100%;
        min-width: 300px;
        background-color: white;
    }

    .tickets-container {
        overflow-y: auto;
        height: 100%;
    }

    .column-name {
        color: black;
        opacity: 100%;
        text-align: center;
        border: solid 1px black;
        font-weight: bold;
    }
</style>

@code {
    [Parameter]
    public Data.Column CurrentColumn { get; set; }

    public List<Data.Ticket> CurrentTickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var column = context.Columns
        .Include(c => c.Tickets)
        .FirstOrDefault(c => c.Id == CurrentColumn.Id);
        CurrentTickets = column.Tickets;
    }

    public void OnAdd()
    {
    }

}