@if (IsVisible){
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span @onclick="OnClose">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OnClose">Close</button>
        <button type="button" class="btn btn-primary" @onclick="OnClose">Save changes</button>
      </div>
    </div>
  </div>
</div>

}
else {
  
}


@code {
    [Parameter]
    public bool IsVisible { get; set; }
    public bool isHidden { get; set; }
    public void OnSave(){

    }

    public void OnClose(){
      IsVisible = false;
    }
}