@using ProjectPlanner.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context

<div class="card">
    <div class="card-header">
        Priority @priority
    </div>
    <div class="card-body">
        <h5 class="card-title">@name</h5>
        <p class="card-text">@description</p>
        <row class="row justify-content-between">
            <div class="mx-2">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
            <p class="text-danger">@dueDate</p>
        </row>
    </div>
</div>

@code {
    [Parameter]
    public Data.Ticket CurrentTicket { get; set; }
    public string name { get; set; }
    public string description { get; set; }
    public int priority { get; set; }
    public DateTime? dueDate { get; set; }

    public List<Data.Tag> CurrentTags { get; set; }
    public List<Data.Item> CurrentChecklist { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var ticket = context.Tickets
        .Include(t => t.Tags)
        .Include(t => t.Checklist)
        .FirstOrDefault(t => t.Id == CurrentTicket.Id);
        CurrentTags = ticket.Tags;
        CurrentChecklist = ticket.Checklist;
    }
}
