@using ProjectPlanner.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context

<div class="card" style="width : 80%; ">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col">
                Priority @CurrentTicket.Priority
            </div>
            <div class="col">
                <a href="#" class="btn btn-secondary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">x</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@CurrentTicket.Name</h5>
        <p class="card-text">@CurrentTicket.Description</p>
        <row class="row justify-content-between">
            <div class="mx-2">
                <span class="badge bg-info">Tag 1</span>
            </div>
            <p class="text-danger">@CurrentTicket.DueDate</p>
        </row>
    </div>
</div>

@code {
    [Parameter]
    public Data.Ticket CurrentTicket { get; set; }
    public List<Data.Tag> CurrentTags { get; set; }
    public List<Data.Item> CurrentChecklist { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var ticket = context.Tickets
        .Include(t => t.Tags)
        .Include(t => t.Checklist)
        .FirstOrDefault(t => t.Id == CurrentTicket.Id);
        CurrentTags = ticket.Tags;
        CurrentChecklist = ticket.Checklist;
    }
}
