@page "/"
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@using ProjectPlanner.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context
@inject IHttpContextAccessor httpContextAccessor


@if (ModalVisible)
{
    <CreateProjectModal OnClose=@CloseModal />
}

<div class="toprow">
    <h1>My Projects</h1>
    <button type="button" class="btn btn-dark" @onclick=@OnAdd>New Project</button>
</div>
<div class="projectcards-wrapper">
    @foreach (Data.Project project in User.Projects)
    {
        <ProjectCard Project=project />
    }
</div>



@code {
    public string UserName;
    public MyUser User;
    public Project Project;
    public bool ModalVisible { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;
        User = context.Users
        .Include(u => u.Projects)
        .First(u => u.UserName == UserName);
    }

    public void CloseModal()
    {
        ModalVisible = false;
    }

    public void OnAdd()
    {
        ModalVisible = true;
    }
}